/* Estilos da página principal */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

  /* Animação do logo */
  @media (prefers-reduced-motion: no-preference) {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* Animação do logo */
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Estilos do formulário */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  text-align: center;
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
}

.title {
  margin-top: 0;
}

.form-group {
  margin-bottom: 10px;
}

.radio-group {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
}

.btn-submit {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
